@model Ekbatan.DomainClasses.MContract.MContract

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contract_No)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract_No)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contract_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mel_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mel_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contract_ID">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
